.main-chat
  .group-info
    .main-header
      .main-header__left
        ワンワンパニック 
      .main-header__group-name
        member :: kimie,haruto
    = link_to "Edit", "#" ,class: "edit-btn"
  .message-list
    .posts
      .post-messages
        .post-messages__group-name
          team
        .post-messages__post-date
          2020,03,06
      .message-text
        おはよう
  .form
    = form_for [@group, @message] do |f|
      .input-box
      = f.text_field :content, class: 'input-box__message', placeholder: 'type a message'  
      .form-mask
        = f.label :image, class: 'form-mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'input-submit'