.main-chat
  .group-info
    .main-header
      .main-header__left
        = @group.name
      .main-header__group-name
        Menber :
        - @group.users.each do |user|
          = user.name
    = link_to "Edit", edit_group_path(@group) ,class: "edit-btn"
  .message-list
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      .input-box
      = f.text_field :content, class: 'input-box__message', placeholder: 'type a message'  
      .form-mask
        = f.label :image, class: 'form-mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'input-submit'